/* Font stuff. */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Secular+One&display=swap');

:root {
    --black: #151514;
    --white: #fffcf2;
    --grey: #807E8B;
    --grey-var: #DFDFE2;
    --primary: #ffafcc;
    --primary-var: #ffc8dd;
    --secondary: #a2d2ff;
    --secondary-var: #bde0fe;
    --contrast: #baf2bb;
    --contrast-var: #baf2d8;
}

* {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Secular One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

/* Navbar stuff. */
.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 800px;
    margin: auto;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--grey-var);
}

#home a {
    font-weight: bold;
    color: var(--black);
}

.navbar a {
    color: var(--grey);
    text-decoration: none;
}

.navbar a:hover,
#active {
    border-bottom: solid 2px var(--primary);
    color: var(--black);
}

.social {
    margin-left: auto;
}

.social a {
    margin-left: 1rem;
}

/* Mobile stuff. */
@media only screen and (max-width: 700px) {
    .navbar {
        padding: 1rem;
        width: 100%;
    }

    .social {
        display: none;
    }
}