/* Font stuff. */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Secular+One&display=swap');

:root {
    --black: #151514;
    --white: #fffafe;
    --grey: #807E8B;
    --grey-var: #DFDFE2;
    --light-grey: #ededf1;
    --primary: #ffafcc;
    --primary-var: #ffc8dd;
    --secondary: #a2d2ff;
    --secondary-var: #bde0fe;
    --contrast: #9dd9be;
    --contrast-var: #baf2d8;
}

* {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--black);
}

body {
    background-color: var(--white);
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.5rem;
}

hr {
    border-top: 0.5px solid var(--light-grey);
    margin-bottom: 0.5rem;
}

code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

/* Navbar stuff. */
.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 900px;
    margin: auto;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--grey-var);
}

#home a {
    font-weight: bold;
    color: var(--black);
}

.navbar a {
    color: var(--grey);
    text-decoration: none;
}

.navbar a:hover,
#active {
    border-bottom: solid 2px var(--primary);
    color: var(--black);
}

.social {
    margin-left: auto;
}

.social a {
    margin-left: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: var(--primary);
}

ul {
    list-style: none;
}

li::before {
    background-color: transparent;
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li {
    margin-bottom: 0.2rem;
}

a:not(.navbar a):hover {
    background-color: var(--primary-var);
    color: var(--white)
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 900px;
    margin: auto;
    gap: 2rem;
    padding-bottom: 3rem;
}

aside #about-emoji {
    width: 80%;
}

#about-emoji {
    border-radius: 100%;
    background-color: var(--primary-var);
    border: solid 5px var(--primary-var);
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.home-banner {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    width: 500px;
    margin: auto;
    gap: 3rem;
    text-align: center;
}

.home-banner img {
    width: 150px;
}

.home-banner h1 {
    font-size: 3rem;
}

.home-banner p {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}

/* Mobile stuff. */
@media only screen and (max-width: 800px) {
    .navbar {
        padding: 1rem;
        width: 100%;
    }

    .social {
        display: none;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        padding: 1rem;
    }

    aside {
        display: none;
    }
}