/* Font stuff. */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Secular+One&display=swap');

:root {
    --black: #171216;
    --white: #fffafe;
    --grey: #807E8B;
    --grey-var: #efeff1;
    --light-grey: #f5f5fb;
    --primary: #ffafcc;
    --primary-var: #ffc8dd;
    --secondary: #8dbde9;
    --secondary-var: #a1c5e6;
    --contrast: #9dd9be;
    --contrast-var: #baf2d8;
}

* {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--black);
}

.center {
    width: 900px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body {
    background-color: var(--white);
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.5rem;
}

p, li {
    font-size: 0.9rem;
}

hr {
    border-top: 0.5px solid var(--light-grey);
    margin-bottom: 0.5rem;
}

code, .mono {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

code {
    border-radius: 5px;
    background-color: var(--light-grey);
    color: var(--grey);
    padding: 0.2rem;
}

/* Navbar stuff. */
.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 900px;
    margin: auto;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--grey-var);
}

#home a {
    font-weight: bold;
    color: var(--black);
}

.navbar a {
    color: var(--grey);
    text-decoration: none;
}

.navbar a:hover,
#active {
    border-bottom: solid 2px var(--primary);
    color: var(--black);
}

.social {
    margin-left: auto;
}

.social a {
    margin-left: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: var(--primary);
}

ul {
    list-style: none;

}

.recent-posts {
    display: flex;
    justify-content: center;
}

.recent-posts a {
    display: block;
    color: white;
    background-color: var(--light-grey);
    padding: 1rem;
    border: solid 1px var(--grey-var);
}

.recent-posts a:hover {
    background-color: var(--grey-var);
}

.recent-posts a p {
    text-align: left;
    float: left;
}

.home-date {
    color: var(--grey);
    font-size: 0.8rem;
}

.home-tag {
    padding-right: 0.5rem;
    font-size: 0.8rem;
}

.home-title {
    font-weight: bold;
}

li:not(.blog-posts)::before {
    background-color: transparent;
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li {
    margin-bottom: 0.2rem;
}

a:not(.navbar a, .blog-posts a, .recent-posts a):hover {
    background-color: var(--primary-var);
    color: var(--white)
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 900px;
    margin: auto;
    gap: 2rem;
    padding-bottom: 3rem;
}

aside #about-emoji {
    width: 80%;
}

#about-emoji {
    border-radius: 100%;
    background-color: var(--primary-var);
    border: solid 5px var(--primary-var);
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.home-banner {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    width: 500px;
    margin: auto;
    gap: 3rem;
    text-align: center;
}

.home-banner img {
    width: 150px;
}

.home-banner h1 {
    font-size: 3rem;
}


.colors {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}

.blog-posts {
    display: block;
    padding: 1rem;
    list-style: none;
    border-radius: 5px;
}

.blog-posts a {
    display: block;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    float: left;
    text-decoration: none;
    color: var(--secondary);
}

.date {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    float: right;
}

.blog-posts a:hover {
    text-decoration: underline;
}

.tag {
    font-size: 1rem;
    float: left;
    margin-right: 0.5rem;
}

/* Mobile stuff. */
@media only screen and (max-width: 800px) {
    body {
        padding: 1rem;
    }

    .navbar {
        width: 100%;
    }

    #home {
        padding-left: 1rem;
    }

    .social, .social > * {
        display: none;
    }

    .center,
    .content,
    .home-banner {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
    }


    aside {
        display: none;
    }

    .home-banner main {
        width: 90%;
        margin: auto;
    }

    .home-banner img {
        width: 100px;
    }

    .home-banner h1 {
        font-size: 1.1rem;
    }

}