html[data-theme='dark'] {
	--fg: #fcfaff;
	--fg-lighter: #fcfaff;
	--bg: #272932;
	--border: #4b4e5c;
}

html[data-theme='light'] {
	--bg: #fcfaff;
	--fg: #272932;
	--fg-lighter: #6c7089;
	--border: #e0e0e0;
}

html {
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
	color: var(--fg);
	text-decoration: none;
}

i {
	padding: 2px;
}
