html[data-theme='dark'] {
	--primary: #ff3562;
	--bg: #070600;
	--fg: #f7f7ff;
}

html[data-theme='light'] {
	--primary: #ff3562;
	--bg: #f7f7ff;
	--fg: #070600;
}

html {
	background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
	color: var(--fg);
	transition: color 0.2s linear;
}

i {
    padding: 2px;
}

.fa-linkedin-in:hover, .fa-github:hover {
    background-color: var(--fg);
	color: var(--bg);
}

.fa-github:hover {
    border-radius: 100%;
}

.fa-linkedin-in {
    padding: 3px 5px;
}

.fa-linkedin-in:hover {
    border-radius: 5px;
}

.fa-moon:hover,
.fa-sun:hover {
	color: #f8e056;
}
