@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:wght@300;400&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Mono', sans-serif;
	letter-spacing: -1px;
}

a,
p,
li {
	font-family: 'Titillium Web', sans-serif;
	transition: background-color 0.1s ease-in-out;
	color: var(--fg);
}

button {
	all: unset;
}

button:hover {
	cursor: pointer;
}

.bold {
    font-weight: bold;
}
