@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:wght@300;400&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Mono', sans-serif;
	letter-spacing: -1px;
}

a,
p,
label,
li {
	font-family: 'Titillium Web', sans-serif;
}

button {
	all: unset;
}

button:hover {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}
