@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500&family=Inter&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geologica', sans-serif;
}

a, p, li {
	font-family: 'Inter', sans-serif;
	transition: background-color 0.1s ease-in-out;
}

button {
	all: unset;
}

button:hover {
    cursor: pointer;
}
