@use 'colors' as *;

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: center;
	margin: auto;
	width: 80vw;

	ul {
		align-items: center;
		display: flex;
		padding: 0;
		list-style-type: none;
	}

	#right {
		justify-content: end;
		li {
			margin-left: 2em;
		}
	}

	li {
		float: left;
	}

	#home-logo {
		font-size: 1.5em;
		font-family: 'Space Mono', sans-serif;
		text-decoration: none;
		font-weight: 400;
	}

	#home-logo:hover {
		border-bottom: 2px transparent solid;
	}

	#left {
		li {
			margin-right: 2em;
		}
		a {
			text-decoration: none;
			transition: border-color 0.1s linear;
			border-bottom: 2px transparent solid;
		}

		a:hover {
			border-bottom: 3px var(--primary) solid;
		}
	}

	i {
		font-size: 1.5em;
	}
}
