:root {
	--fg: #ded7d0;
	--alt-fg: #686069;
	--bg: #1e1d23;
	--alt-bg: #413e41;
	--dark-bg: #1a191e;
	--line: #1a191e;
	--primary: #bda9d4;
	--secondary: #e0828d;
	--tetriary: #efd472;

	font-family: "Work Sans", sans-serif;
	color: var(--fg);
	background: var(--bg);
}

p {
	font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Work Sans", monospace;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: 600;
}

.single-line-snippet {
	font-family: "JetBrains Mono", monospace;
}

html {
	margin: auto;
}

a {
	color: var(--primary);
}

nav.navbar {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 40px;

	#home-link {
		color: var(--primary);
		margin-right: 12px;
	}

	#home-link:hover {
		color: var(--fg);
	}

	ul {
		border-bottom: 1px solid var(--alt-bg);
		padding: 10px;
		padding-bottom: 20px;
	}

	li {
		float: left;
		margin-right: 12px;
	}

	li::marker {
		content: " | ";
	}

	a {
		font-size: 18pt;
		color: var(--fg);
		text-decoration: none;
	}

	a:hover {
		color: var(--primary);
	}
}
