<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title> Samuel Kajava — {{ page.title }}</title>
</head>

<body>
    <nav class="navbar">
        <div id="home"><a href="/">Samuel Kajava</a></div>
        <div><a href="/about">About me</a></div>
        <div><a href="/blog">Blog</a></div>
        <div class="social">
            <a href="https://github.com/samkaj">GitHub</a>
            <a href="https://linkedin.com/in/samuel-kajava">LinkedIn</a>
        </div>
    </nav>
    <div class="center">
        {{ content }}
    </div>
</body>

</html>